.login {
    background-color: green;
    width: 30em;
    height: 10em;
    border-radius: 3px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}